h1{
    color:blueviolet;
}
.header{
    background-color: aqua;
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h2{
    text-align: center;
}
.item{
    justify-content: center;
}